<% if object.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t "users.new.form_err_msg1" %><%= pluralize object.errors.size, t("users.new.form_err_msg2") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
